################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/recursos/FileContentIndex/90086731-8260-423f-891a-89d89245ba26.vsidx
